.button {
    color: $color-white;
    border: 1px solid $color-white;
    font-family: $font-serif;
    margin: .5rem;
    padding: .5rem;
    background-color: transparent;
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-white;
        color: $color-gray-dark;
    }

    @include respond(tablet) {
        margin: 1rem;
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }
}