.hero {
    padding: 2rem 1rem 1rem;
    text-align: center;
    background-color: rgba($color-gray, 0.5);

    &__title {
        font-size: 3.6rem;
        color: $color-white;
        margin-bottom: 1rem;
        line-height: 1;
        text-shadow: 0px 4px 8px rgba($color-black, 0.5);

        @include respond(tablet) {
            font-size: 6rem;
        }
    }
}
