/* fog background from https://codepen.io/camstephensdomo/pen/PVqpaP */

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  background-color: #663399; 
}

.jumbotron {
  background-color: #22222211;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75px;
  margin: 10px;
}

footer p {
  color: #55aacc;  
  background-color: #222222;
  width: 100%;
  text-align: center;
  margin: 0px;
}

footer img {
  width: 100%;
  border: 1px solid #222222;
}

footer img:hover {
  border: 1px solid #55aacc;
}

#fog {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 300%;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
  }
  &:before {
    background-image: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png');
    animation: drift 60s linear 0s infinite;
  }
  &:after {
    background-image: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png');
    animation: drift 25s linear 0s infinite;
  }
  @keyframes drift {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-200vw, 0, 0); }
  }
}