body {
  background-color: #663399;
  font-family: "IM Fell DW Pica", serif;
}

/* FOG EFFECT */
/* fog background from https://codepen.io/camstephensdomo/pen/PVqpaP */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#fog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  background-attachment: fixed;
}

#fog:before, #fog:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300%;
  background-size: contain;
  background-position: center;
}

#fog:before {
  background-image: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png");
  animation: drift 60s linear 0s infinite;
}

#fog:after {
  background-image: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png");
  animation: drift 25s linear 0s infinite;
}

@keyframes drift {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-200vw, 0, 0);
  }
}